services:
  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8080:8000"
  init-dynamo:
    image: amazon/aws-cli
    command:
      - dynamodb
      - create-table
      - --table-name
      - test-db
      - --attribute-definitions
      - >-
        [{
          "AttributeName": "shortlink_id",
          "AttributeType": "S"
        }, {
          "AttributeName": "url",
          "AttributeType": "S"
        }, {
          "AttributeName": "staging",
          "AttributeType": "S"
        }]
      - --key-schema
      - AttributeName=shortlink_id,KeyType=HASH
      - --global-secondary-indexes
      - >-
        {
          "IndexName": "UrlIndex",
          "KeySchema": [{
            "AttributeName": "url",
            "KeyType": "HASH"
          }],
          "Projection": {
            "ProjectionType": "INCLUDE",
            "NonKeyAttributes": ["shortlink_id", "url", "created"]
          },
          "ProvisionedThroughput": {
            "ReadCapacityUnits": 1,
            "WriteCapacityUnits": 1
          }
        }
      - >-
        {
          "IndexName": "StagingsIndex",
          "KeySchema": [{
            "AttributeName": "staging",
            "KeyType": "HASH"
            }
            ],
          "Projection": {
            "ProjectionType": "INCLUDE",
            "NonKeyAttributes": ["shortlink_id", "url", "created"]
          },
          "ProvisionedThroughput": {
            "ReadCapacityUnits": 1,
            "WriteCapacityUnits": 1
          }
        }
      - --provisioned-throughput
      - ReadCapacityUnits=1,WriteCapacityUnits=1
      - --endpoint-url
      - http://dynamodb-local:8000
    links:
      - dynamodb-local
    environment:
      - AWS_ACCESS_KEY_ID=dummy123
      - AWS_SECRET_ACCESS_KEY=dummy123
      - AWS_DEFAULT_REGION=wonderland

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    command: --config otel-local-config.yaml
    volumes:
      - ./otel-local-config.yaml:/otel-local-config.yaml
    ports:
      - "4317:4317"

  zipkin:
    image: openzipkin/zipkin:latest
    ports:
      - "9411:9411"
