[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.23.0"
logging-utilities = ">=1.2.3,~=1.2"
Flask = "~=2.1.0"
gevent = "~=21.12.0"
gunicorn = "~=20.1.0"
PyYAML = ">=5.4"
python-dotenv = "~=0.20.0"
validators = "~=0.19.0"

[dev-packages]
yapf = "~=0.30.0"
moto = "~=3.1.9"
nose2 = "*"
pylint = "*"
pylint-flask = "*"

[requires]
python_version = "3.9"
