[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.40"
logging-utilities = "~=5.1"
Flask = "~=3.1"
gevent = "~=25.8"
gunicorn = "~=23.0"
PyYAML = "~=6.0"
python-dotenv = "~=1.1"
validators = "==0.35"
nanoid = "~=2.0"
opentelemetry-sdk = "*"
opentelemetry-exporter-otlp = "*"
opentelemetry-instrumentation = "*"

# Specific OpenTelemetry instrumentation libraries used to instrument this app
# Full list or a subset of libraries listed by 'make otelrequirements'
opentelemetry-instrumentation-botocore = "*"
opentelemetry-instrumentation-flask = "*"
opentelemetry-instrumentation-requests = "*"

[dev-packages]
yapf = "~=0.43"
moto = "~=5.1"
nose2 = "*"
pylint = "*"
pylint-flask = "*"
elastic-opentelemetry = "*"

[requires]
python_version = "3.13"
